{
  "extends": ["react-app", "airbnb", "prettier"],
  "rules": {
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off"
  }
}
