.App {
  margin: 64px;
  text-align: center;
}

.App__checkbox {
  display: none;
}

.App__cell {
  background-color: white;
  border: 1px solid gray;
  height: 64px;
  padding: 8px;
  width: 20%;
}

.App__cell--on {
  background-color: palegoldenrod;
}

.App__cell-head {
  background-color: black;
  border: 1px solid gray;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.App__cell-head--on {
  background: red;
}

.App__footer {
  color: darkblue;
  font-size: small;
  margin: 8px;
}

.App__h1 {
  color: darkblue;
}
